<% @title="Quotes List" %>


<main class="container">

<%= turbo_stream_from "quotes" %>

  <div class="header">
    <h1>Quotes</h1>
    <%= link_to "New quote",
                new_quote_path,
                class: "btn btn--primary",
                data: { turbo_frame: dom_id(Quote.new) } %>
  <!-- add turbo frame data to link new quote form-->

  </div>

  <!-- add turbo frame for new quote-->
  <%= turbo_frame_tag Quote.new %>


  <!-- add turbo frame forquote list-->
  <%= turbo_frame_tag "quotes" do %>
    <%= render @quotes %>
  <% end %>

</main>
